<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Article Review</title>
	<style>
        textarea{
        resize: none;
        }
        button{
            width: 180px;
            height: 60px;
            text-align: center;
            border-radius: 14px;
            font-size: 18px;
        }
        body {
            background-color: lightgrey;
            text-align: center;
            padding: 0px;
        }
    </style>
</head>
<body>
<div class="container" align="center">

		<h1>NATURAL LANGUAGE PROCESSING APPLICATION</h1>

</div>
 <form action="{{ url_for('textsummary')}}" method="POST" id="textclassify">
	 	<div align="center">
			<h2>Text Summarizer</h2>
            <textarea id="first" name="text" rows="10" cols="100" >
            </textarea>
            <br><br><button id="button" type="submit">Summarize Text</button>
            <br>
		</div>
 </form>
<div class="container" align="center">
<br><br>
    <p><h3>{{ Summary }}</h3></p>
	</div>
</body>
</html>